.card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(51, 255, 0);
    border-radius: 15px;
    background-color: rgb(219, 255, 243);
    box-shadow: 5px 7px 25px rgb(122, 122, 122);
}

.card img{
    width: 95%;
}

.card h1{
    font-size: 70px;
    color: black;
}
.card p{
    text-align: center;
}
.card_price {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}